.hide-mobile {
  display: none;
}

@include mq('tablet') {
  .hide-mobile {
    display: initial;
  }
}

.show-mobile {
  display: block !important;
}

@include mq('tablet') {
  .show-mobile {
    display: none !important;
  }
}