nav {
    background-color: var(--color-background-light);
    padding: var(--space-s) 0;
    @include mq('tablet') {
        padding: var(--space-ms) 0 var(--space-xxxs) 0;
    }
    ul {
        list-style-type: none;
        display: block;
        text-align: center;
        @include mq('tablet') {
        }
        li {
            display: inline-block;
            @include mq('tablet') {}
            margin-block-start: 0;
            padding: 0 2%;
            @include mq('tablet') {
                padding: 0 var(--space-ml);
            }
        }
    }
    a {
        font-family: var(--font-family-primary);
        text-decoration: none;
        color: var(--color-text-onlight);
        padding: 0;
        font-weight: 600;
        border-bottom: 1px dashed transparent;
        margin-block-start: 0;
        display: inline-block;        
        font-size: var(--typ-p-size-m) + 4;
        @include transition(color var(--transition-speed-medium));
        @include mq('tablet') {
            font-size: 22px;
        }
        span {
            font-weight: 800;
            display: inline-block;            
            @include transition(color var(--transition-speed-slow));            
        }
        &:hover {
            @media screen and (prefers-reduced-motion: no-preference) {
                animation: textAnim;
                animation-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275);
                animation-fill-mode: forwards;
                animation-direction: normal;
                animation-iteration-count: 1;
                animation-duration: 250ms;
                animation-delay: 350ms;
              }
            span {
                @media screen and (prefers-reduced-motion: no-preference) {
                    animation: dotAnim;
                    animation-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.75);
                    animation-fill-mode: forwards;
                    animation-direction: normal;
                    animation-iteration-count: 1;
                    animation-duration: 500ms;
                    animation-delay: 50ms;
                  }
                color: black;
            }
        }
        &.active {
            color: var(--color-accent);
            pointer-events: none;
            span {
                color: black;
            }
        }
    }    
}